<h2>Available packages</h2>
<div class="card-deck">
    <div *ngFor="let package of packagesList">
      <div class="card" style="width: 20rem;">
        <div class="card-body text-center">
            <h5 class="card-title">Package Name : {{ package.packageName }}</h5>
            <p class="card-text">ID : {{ package._id }}</p>
            <p class="card-text">Source : {{ package.source }}</p>
            <p class="card-text">Destination : {{ package.dest }}</p>
            <p class="card-text">From : {{ package.from | date}}</p>
            <p class="card-text">Till : {{ package.till | date}}</p>
            <div *ngIf="!usertype()"><a (click)="bookpackage(package)" class="btn btn-primary">Book</a></div>
            <div *ngIf="usertype()"><a (click)="deletepackage(package)" class="btn btn-danger">Delete Package</a></div>
        </div>
      </div>
    </div>
  </div>
