<!-- <div class="row">
  <div *ngFor="let package of packagesList">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Package Name : {{ package.packageName }}</h5>
          <p class="card-text">Source : {{ package.source }}</p>
          <p class="card-text">Destination : {{ package.dest }}</p>
          <p class="card-text">Created By/On : {{ package.createdOn }}</p>
          <p class="card-text">Uploaded On : {{ package.updatedOn }}</p>
          <a href="#" class="btn btn-primary">Book</a>
        </div>
      </div>
    </div>
  </div>
</div> -->
<h2>Available packages</h2>
<div *ngFor="let package of packagesList">
  <div class="card-group">
    <div class="card col-md-4">
      <div class="card-body">
        <h5 class="card-title">Package Name : {{ package.packageName }}</h5>
        <p class="card-text">ID : {{ package._id }}</p>
        <p class="card-text">Source : {{ package.source }}</p>
        <p class="card-text">Destination : {{ package.dest }}</p>
        <p class="card-text">Created By/On : {{ package.createdOn }}</p>
        <p class="card-text">Uploaded On : {{ package.updatedOn }}</p>
        <a href="#" class="btn btn-primary">Book</a>
      </div>
    </div>
  </div>
</div>
