<section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-8 col-xl-6">
          <div class="row">
            <div class="col text-center">
              <h1>Login</h1>
            </div>
          </div>
          <div class="card-block">
              <button class="btn btn-social-icon btn-google" (click)="signInWithGoogle()">Google Login<span class="fa fa-google"></span></button>
          </div>
        </div>
      </div>
    </div>
  </section>
