<h2>Available packages</h2>
<div class="card-deck">
  <div *ngFor="let package of packagesList">
    <div class="card" style="width: 20rem;">
      <div class="card-body text-center">
        <h5 class="card-title">Package Name : {{ package.packageName }}</h5>
        <p class="card-text">Source : {{ package.source }}</p>
        <p class="card-text">Destination : {{ package.dest }}</p>
        <p class="card-text">From : {{ package.from }}</p>
        <p class="card-text">Till : {{ package.till }}</p>
        <button type="button" (click)="viewPackage(package)" class="btn btn-primary" data-toggle="modal"
          data-target="#exampleModalCenter">
          View Full Itinerary
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Itinerary</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="isSelected()">
        <div class="card" style="width:400px">
          <div class="card-header text-center">
            <h5>Package Details: </h5>
          </div>
          <div class="card-body">
            <h4 class="card-title">{{ selectedPackage.packageName }}</h4>
            <p class="card-text">Source : {{ selectedPackage.source }}</p>
            <p class="card-text">Destination : {{ selectedPackage.dest }}</p>
            <p class="card-text">From : {{ selectedPackage.from }}</p>
            <p class="card-text">Till : {{ selectedPackage.till }}</p>
          </div>
        </div>
        <div class="card" style="width:400px">
          <div class="card-header text-center">
            <h5>Departure Flight: </h5>
          </div>
          <div class="card-body">
            <h4 class="card-title">Airlines: {{ selectedPackage.flight.OutboundLeg.CarrierIds }}</h4>
            <p class="card-text">From : {{ selectedPackage.flight.OutboundLeg.OriginId }}</p>
            <p class="card-text">To : {{ selectedPackage.flight.OutboundLeg.DestinationId }}</p>
            <p class="card-text">Departs at : {{ selectedPackage.flight.OutboundLeg.DepartureDate }}</p>
          </div>
        </div>
        <div class="card" style="width:400px">
          <div class="card-header text-center">
            <h5>Return Flight: </h5>
          </div>
          <div class="card-body">
            <h4 class="card-title">Airlines: {{ selectedPackage.returnflight.OutboundLeg.CarrierIds }}</h4>
            <p class="card-text">From : {{ selectedPackage.returnflight.OutboundLeg.OriginId }}</p>
            <p class="card-text">To : {{ selectedPackage.returnflight.OutboundLeg.DestinationId }}</p>
            <p class="card-text">Departs at : {{ selectedPackage.returnflight.OutboundLeg.DepartureDate }}</p>
          </div>
        </div>
        <div class="card" style="width:400px">
          <div class="card-header text-center">
            <h5>Hotel: </h5>
          </div>
          <div class="card-body">
            <h4 class="card-title">Hotel Name: {{ selectedPackage.hotel.hotelname }}</h4>
            <p class="card-text">Rating : {{ selectedPackage.hotel.rating }}</p>
            <p class="card-text">Address : {{ selectedPackage.hotel.hoteladdress }}</p>
          </div>
        </div>
        <div class="card" style="width:400px">
          <div class="card-header text-center">
            <h5>Booked Users </h5>
          </div>
          <div class="card-body">
            <div *ngFor="let user of users">
              <p class="card-text">User Name : {{ user.username }} and Email: {{ user.useremail }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
