<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-8 col-xl-6">
        <div class="row">
          <div class="col text-center">
            <h1>Register</h1>
          </div>
        </div>
        <form #it="ngForm" (ngSubmit)="onSubmit(it)" novalidate>
        <div class="row align-items-center">
          <div class="col mt-4">
            <input ngModel name = "Email" #Email="ngModel" type="email" required class="form-control" placeholder="Email">
          </div>
        </div>
        <div class="row align-items-center mt-4">
          <div class="col">
            <input ngModel name="firstName" #firstName="ngModel" required type="text" class="form-control" placeholder="Full Name">
          </div>
        </div>
        <div class="row align-items-center mt-4">
          <div class="col">
            <input ngModel name="pswd" #pswd="ngModel" required type="password" class="form-control" placeholder="Password">
          </div>
          <div class="col">
            <input ngModel name="newpswd" #newpswd="ngModel" required type="password" class="form-control" placeholder="Confirm Password">
          </div>
        </div>
        <div class="row justify-content-start mt-4">
          <div class="col">
            <!-- <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                I Read and Accept <a href="">Terms and Conditions</a>
              </label>
            </div> -->

            <button (click)="signUp(Email)" class="btn btn-primary mt-4">Submit</button>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</section>
